<!doctype html>
<html lang="en" class="no-js" prefix="og: http://ogp.me/ns#">
  <head>
    <%= partial "layouts/shared/head" %>
  </head>
  <body>
    <%= partial "layouts/shared/navbar" %>
    <div class="container content"><%= yield %></div>
    <%= partial "layouts/shared/footer" %>
    <% if !app.development? %>
      <%= motomo %>
    <% end %>
    <% if !current?("home") %>
    <script src="/javascripts/anchor.js"></script>
    <% end %>
    <script>
    <%= sitemap.resources.find{|r| r.source_file.match('application.js')}.render %>
    </script>
    <script async defer src="/javascripts/lazyload.js"></script>
  </body>
</html>
