<!doctype html>
<html lang="en" class="no-js" prefix="og: http://ogp.me/ns#">
  <head>
    <%= partial "layouts/shared/head" %>
  </head>
  <body>
    <%= partial "layouts/shared/navbar" %>
    <div class="container content">
      <%= yield %>
    </div>
    <%= partial "layouts/shared/footer" %>
    <% if !app.development? %>
    <%= motomo %>
    <% end %>
    <script async src="/javascripts/burger_menue_navigation.js"></script>
  </body>
</html>
