<!doctype html>
<html lang="en" prefix="og: http://ogp.me/ns#" >
  <head>
    <%= partial "layouts/shared/head" %>
  </head>
  <body>
    <%= partial "layouts/shared/navbar" %>
    <div class="container content">
      <%= yield %>
    </div>
    <%= partial "layouts/shared/footer" %>
    <%= motomo %>
    <script defer src="https://use.fontawesome.com/releases/v5.1.0/js/all.js" integrity="sha384-3LK/3kTpDE/Pkp8gTNp2gR/2gOiwQ6QaO7Td0zV76UFJVhqLl4Vl3KL1We6q6wR9" crossorigin="anonymous"></script>
    <script>
      anchors.add();
      (function() {
      var burger = document.querySelector('.burger');
      var menu = document.querySelector('#'+burger.dataset.target);
      burger.addEventListener('click', function() {
          burger.classList.toggle('is-active');
          menu.classList.toggle('is-active');
      });
      })();
    </script>
  </body>
</html>
