<% wrap_layout :layout do %>
  <article>
    <h1 class="news"><%= current_page.data.title %></h1>

    <header>
      <div class="author">
        <span class="written">
          Written by <a href="https://plus.google.com/+wikimatzede?rel=author" rel="author">Matthias Günther</a> |
        </span>
        <span class="reading-time">
          <%= current_page.body.reading_time :format => :approx %> read |
        </span>
        Tags

        <% current_page.data.categories.split(" ").each_with_index do |category, index| %>
          <% if index == current_page.data.categories.split(" ").size - 1 %>
            <%= link_to "#{category}", category_path(category) %>
          <% else %>
            <%= link_to "#{category},", category_path(category) %>
          <% end %>
        <% end %>
        | <a href="#comments"><span id="cmtcount"></span> Comments</a>

      </div>
    </header>

    <%= yield %>

    <%= partial "layouts/shared/share" %>

    <div id="hashover"></div>
    <script defer src="/hashover.php"></script>
  </article>
<% end %>
