<section class="share">
  <h4>Share this post</h4>
  <a title="Share this article on Twitter" onclick="window.open(this.href, 'twitter-share', 'width=550,height=235');return false;" href="https://twitter.com/intent/tweet?text=<%= share_title %>&amp;nbsp;Rails&amp;amp;url=<%= share_url %>" class="fa fa-twitter">
  </a>
  <a title="Share this article on Facebook" onclick="window.open(this.href, 'facebook-share','width=580,height=296');return false;" href="https://www.facebook.com/sharer/sharer.php?u=<%= share_url %>" class="fa fa-facebook">
  </a>
  <a title="Share this article on Reddit" onclick="window.open(this.href, 'reddit-share', 'width=550,height=235');return false;" href="https://www.reddit.com/submit?url=<%= share_url %>&amp;amp;title=Hello&amp;nbsp;Rails" class="fa fa-reddit-alien">
  </a>
  <a title="Share this article on Stumbleupon" onclick="window.open(this.href, 'stumbleupon-share', 'width=550,height=235');return false;" href="http://www.stumbleupon.com/submit?url=<%= share_url %>&amp;amp;title=Hello&amp;nbsp;Rails" class="fa fa-stumbleupon">
  </a>
  <a title="Share this article on Google+" onclick="window.open(this.href, 'google-plus-share', 'width=490,height=530');return false;" href="https://plus.google.com/share?url=<%= share_url %>" class="fa fa-google-plus">
  </a>
</section>
