---
layout: false
nav: contact
---
<?php
require_once './mail/vendor/autoload.php';
require 'recaptcha/recaptcha-master/src/autoload.php';

$helperLoader = new SplClassLoader('Helpers', './mail/vendor');
$mailLoader   = new SplClassLoader('SimpleMail', './mail/vendor');

$helperLoader->register();
$mailLoader->register();

use Helpers\Config;
use SimpleMail\SimpleMail;

$config = new Config;
$config->load('./mail/config/config.php');

if ($_SERVER['REQUEST_METHOD'] === 'POST') {
    $email   = stripslashes(trim($_POST['form-email']));
    $subject = stripslashes(trim($_POST['form-subject']));
    $message = stripslashes(trim($_POST['form-message']));
    $pattern = '/[\r\n]|Content-Type:|Bcc:|Cc:/i';

    if (preg_match($pattern, $email) || preg_match($pattern, $subject)) {
        die("Header injection detected");
    }

    $emailIsValid = filter_var($email, FILTER_VALIDATE_EMAIL);

    $recaptcha = new \ReCaptcha\ReCaptcha('6Ld69LMUAAAAAJxV7-queACAC29wG-xFJntMZCPg', new \ReCaptcha\RequestMethod\CurlPost());
    $response = $recaptcha->verify($_POST['g-recaptcha-response'], $_SERVER['REMOTE_ADDR']);

    if ($email && $emailIsValid && $subject && $message && $response->isSuccess()) {
        $mail = new SimpleMail();

        $mail->setTo($config->get('emails.to'));
        $mail->setFrom($config->get('emails.from'));
        $mail->setSenderEmail($email);
        $mail->setSubject($config->get('subject.prefix') . ' ' . $subject);

        $body = "
        <!DOCTYPE html PUBLIC \"-//W3C//DTD XHTML 1.0 Transitional//EN\" \"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd\">
        <html>
            <head>
                <meta charset=\"utf-8\">
            </head>
            <body>
                <h1>{$subject}</h1>
                <p><strong>{$config->get('fields.message')}:</strong> <br>{$message}</p>
            </body>
        </html>";

        $mail->setHtml($body);
        $mail->send();

        $emailSent = true;
    } else {
        $hasError = true;
    }
}
?><!DOCTYPE html>
<html lang="en" prefix="og: http://ogp.me/ns#">
  <head>
  <%= partial "layouts/shared/head" %>
  </head>
  <body>
    <%= partial "layouts/shared/navbar" %>

    <div class="container content">
      <header>
        <h1 class="lead">Contact</h1>
      </header>

    <?php if(!empty($emailSent)): ?>
        <div class="notification is-success">
            <?php echo $config->get('messages.success'); ?>
        </div>
    <?php else: ?>
        <?php if(!empty($hasError)): ?>
        <div class="notification is-danger">
            <?php echo $config->get('messages.error'); ?>
        </div>
        <?php endif; ?>

        <form action="<?php echo $_SERVER['REQUEST_URI']; ?>" enctype="application/x-www-form-urlencoded" id="contact-form" class="form-horizontal" method="post">
            <div class="field">
              <label for="form-email" class="label"><?php echo $config->get('fields.email'); ?></label>
              <div class="control has-icons-left">
                <input type="email" class="input" pattern="[a-zA-Z0-9.-_]{1,}@[a-zA-Z.-]{2,}[.]{1}[a-zA-Z]{2,}" id="form-email" name="form-email" placeholder="<?php echo $config->get('fields.email'); ?>" required>
                <span class="icon is-small is-left">
                  <i class="fas fa-envelope"></i>
                </span>
              </div>
            </div>
            <div class="field">
              <label for="form-email" class="label"><?php echo $config->get('fields.subject'); ?></label>
              <div class="control has-icons-left">
                <input type="text" class="input" id="form-subject" name="form-subject" placeholder="<?php echo $config->get('fields.subject'); ?>" required>
                <span class="icon is-small is-left">
                  <i class="fas fa-rocket"></i>
                </span>
              </div>
            </div>
            <div class="field">
              <label class="label"><?php echo $config->get('fields.message'); ?></label>
              <div class="control">
                <textarea class="textarea" id="form-message" name="form-message" placeholder="<?php echo $config->get('fields.message'); ?>" required></textarea>
              </div>
            </div>

           <script src='https://www.google.com/recaptcha/api.js'></script>
           <div class="g-recaptcha" data-sitekey="6Ld69LMUAAAAAFwyr89_2CcyqFlj2qOwuC0-2Kx7"></div>
           <br>

            <div class="field is-grouped">
              <div class="control">
                <button type="submit" class="button is-large is-link"><?php echo $config->get('fields.btn-send'); ?></button>
              </div>
            </div>
        </form>
      <?php endif; ?>
    </div>
    <%= partial "layouts/shared/footer" %>

    <% if !app.development? %>
      <%= matomo %>
    <% end %>

    <% if !current?("home") %>
    <script src="/javascripts/anchor.js"></script>
    <% end %>
    <script>
    <%= sitemap.resources.find{|r| r.source_file.match('application.js')}.render %>
    </script>

    <script defer type="text/javascript" src="mail/public/js/contact-form.js"></script>
    </script>
  </body>
</html>
